<!-- make sure to link bootstrap in your file-->
<script type="text/javascript">
	$(document).ready(function(){
		$('#fblogout').click(function(){
	        $.get('/logout', function(resp){
				// do nothing with the response. just wanted to call /logout to clear session
	        });
        });
    });
</script>

<!--navbar-->
<nav class='navbar navbar-default navbar-fixed-top'>
	<div class='container-fluid'>
		<a class='navbar-brand' href="/">MMH</a>
		<ul class='nav navbar-nav navbar-right'>
			<li><a href="/users/profile">Profile</a></li>
			<li><a href="/events/new">Create</a></li>
			<li><a href="https://www.facebook.com/logout.php?next=http://localhost:5000/&access_token={{session['accessToken']}}" id='fblogout'>Logout</a></li>
			
		</ul>
	</div>
</nav>
