<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Profile | MMH</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/css/profile.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$.get('/welcome/get_navbar', function(res){
					$('#navigation').html(res);
				});

				$.get('/users/get_reviews_for_user', function(res){
					$('#reviews-col').append(res);
				});

				$.get('/users/get_user_events', function(res){
					$('#userevents').append(res);
				});

				$.get('/users/get_friend_events', function(res){
					$('#friendevents').append(res);
				});

			})
		</script>
	</head>
	<body>
		<div id='navigation'></div>

		<div id='glass'></div>
		<div id='body'>
			<div id='content' class='row'>
				
				<div class='col-sm-1'></div>

				<!--user's events-->
				<div id='userevents' class='col-sm-3 events'>
					<h3>Your Events</h3>
				</div><!--end of user-events-->

				<div class='col-sm-1'></div>

				<!--friends' events-->
				<div id='friendevents' class='col-sm-3 events'>
					<h3>Friends' Events</h3>
				</div><!--end of friends' events-->

				<div class='col-sm-1'></div>

				<!--badges-->
				<div id='badges' class='col-sm-2'>
					<h3>Badges</h3>
					<div class='col-sm-8 col-sm-offset-2'><img src="/static/img/badge1.png"></div>
					<div class='col-sm-8 col-sm-offset-2'><img src="/static/img/badge2.png"></div>
					<div class='col-sm-8 col-sm-offset-2'><img src="/static/img/badge3.png"></div>
					<div class='col-sm-8 col-sm-offset-2'><img src="/static/img/badge4.png"></div>
				</div>
				<div class='col-sm-1'></div>
			</div><!--end of content-->

			<div id='reviews' class='row'>
				<div id='reviews-col' class='col-sm-8 col-md-offset-2'>
					<h3>Reviews</h3>
				</div>
			</div>
		</div><!--end of body-->
	</body>
</html>
