<!DOCTYPE html>
<html>
    <head>
        <title>Activity @ {{ locationName }}</title>
        <!-- <link href="main.css" media="all" rel="stylesheet" /> -->
        <style type="text/css">
            *{font-family: sans-serif; vertical-align:top;}
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function()
            {
            });
        </script>
    </head>
    <body>
        <center>
            <div id="wrapper">
                <h1>Upcoming Activity @ <a href="event.html">{{ locationName }}</a></h1>
                    <br>
                <div style="display:inline-block; margin-right:350px;">
                    <div id="map" style="width:150px; height:150px; border: 1px solid;">
                        map
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p><b>Hosted By:</b> {{ host }}</p>
                    <p><b>Date:</b> {{ date }}</p>
                    <p><b>Time:</b> {{ time }}</p>
                    <p><b>Description:</b> {{ description }}</p>
                </div>
                <div style="display:inline-block;"">
                    <div id="weather" style="width:150px; height:150px; border: 1px solid;">
                        current weather
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div id="users" style="width:150px; height:200px; border: 1px solid;">
                        list of users going
                    </div>
                </div>
            </div>
        </center>
    </body>
</html>