* {
  font-family: monaco;
  margin: 0px;
  padding: 0px;
  color: white;
}
#body {
    margin-top: 50px;
}
h2 {
    text-align: center;
}
#map_weather {
    margin-top: 30px;
}
iframe {
    margin-top: 20px;
}
.scrollable {
    height: 150px;
    overflow: auto;
    border: 1px solid #eee;
    margin-bottom: 30px
}
#body:before{
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	), url('/static/img/sky.jpeg');
	background-size: cover;
	width: 100%;
	height: 100%;
}
#reviewtext {
	background: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	), url('/static/img/sky.jpeg');
	background-size: cover;
	width: 100%;
	height: 100%;
    color: white;
}

