* {
  font-family: monaco;
  margin: 0px;
  padding: 0px;
  color: white;
}
#body {
    margin-top: 50px;
}
h2 {
    text-align: center;
}
#map_weather {
    margin-top: 30px;
}
iframe {
    margin-top: 20px;
}
.scrollable {
    height: 180px;
    overflow: auto;
    border: 1px solid #eee;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
}
#body:before{
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	), url('/static/img/sky.jpeg');
	background-size: cover;
	width: 100%;
	height: 100%;
}
#reviewtext {
	background: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	), url('/static/img/sky.jpeg');
	background-size: cover;
	width: 100%;
	height: 100%;
    color: white;
}
#reviews{
    text-align: center;
	margin-top: 5%;
	color: white;
}
	#reviews .col-sm-10{
		margin-bottom: 2%;
	}

#content .col-sm-10, #content .col-sm-3, .col-sm-12, #reviews .col-sm-8, #reviews .col-sm-10{
    text-align: center;
	border: 1px solid white;
	margin-top: 5%;
	margin-bottom: 2%;
}
.btn{
	float: right;
	margin-bottom: 1%;
}
.events h3{
	margin-top: 2%;
	text-align: center;
	color: white;
}
	.events .row div{
		margin-bottom: 5%;
	}
	.events img{
		height: 50px;
		width: 50px;
		margin-top: 1%;
	}

