<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Location</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script>
        $(document).ready(function(){
            // get the navbar
            $.get("/welcome/get_navbar", function(res) {
                $("div#navbar").html(res);
            });

            // get location info
            $.get("/locations/get_place_info/{{ place_id }}", function(res) {
                //console.log(res);
            }, 'json');

            // get the map for the location id
            $.get("/locations/get_map_html/{{ place_id }}", function(res) {
                $("#maps").html(res);
            });

            // get the weather for the location id
            $.get("/locations/get_weather_html/{{ place_id }}", function(res) {
                $("#weather").html(res);
            });
        });
    </script>
</head>
<body>
    <div id="navbar">
    </div>

    <div class="container">
        <h2>{{ location_name }}</h2>
        <div class="container-fluid">
            <div id="maps" class="col-md-6">
            </div>
            <div id="weather" class="col-md-6">
            </div>
        </div>

    </div>

</body>
</html>
